nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: red;
    color: black;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

nav ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cart {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}